/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "west-cost-style";

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.container-fluid {
  padding: 0;
}

.all-articles {
  padding: 0 15px;
}

/* Spacer Styles */
.space-right {
  margin-right: 10px;
}

.top5 {
  margin-top:5px;
}

.top10 {
  margin-top:10px;
}

.top15 {
  margin-top:15px;
}

.top20 {
  margin-top:20px;
}

.top25 {
  margin-top:25px;
}

.top30 {
  margin-top:30px;
}

.bottom5 {
  margin-bottom:5px;
}

.bottom10 {
  margin-bottom:10px;
}

.bottom15 {
  margin-bottom:15px;
}

.bottom20 {
  margin-bottom:20px;
}

.bottom25 {
  margin-bottom:25px;
}

.bottom30 {
  margin-bottom:30px;
}
