<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= tab("All Products", products_path, @category.blank?,
        html_options: { li: { class: "nav-item" }, a: { class: "nav-link" } }) %>

      <% @categories.each do |category| %>
        <%= tab(category.name, products_path(category_id: category.id), @category == category,
          html_options: { li: { class: "nav-item" }, a: { class: "nav-link" } }) %>
      <% end %>


      <%= tab("Create Category", new_category_path, false,
        html_options: { li: { class: "nav-item" }, a: { class: "nav-link" } }) %>
    </ul>
  </div>
</nav>
